* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;;
    background-color: rgb(189, 243, 250);
}

.buttons {
    display: flex;
    justify-content: center;
}


.buttons p {
    font-size: 25px;
}

.computer-score-info,
.player-score-info {
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.computer-score,
.player-score {
    font-size: 30px;
}

.game {
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: 0 auto;
}

.instructions {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-bottom: 10px;
}

.new-game {
    display: none;
}

.paper img {
    height: 125px;
    width: auto;
    margin-bottom: 20px;
}

.result {
    margin: 1% 0;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.rock,
.paper,
.scissors {
    border-radius: 4%;
    border: 2px solid rgb(189, 243, 250);;
    padding: 2%;
    margin: 2% 2% 0% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rock:hover, .paper:hover, .scissors:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.rock img,
.scissors img {
    height: 100px;
    width: auto;
    margin-bottom: 42px;
}

.score-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-info h2 {
    font-size: 26px;
    font-weight: 300;
}

.title {
    font-size: 50px;
    font-weight: 400;
    text-shadow: 4px 4px rgb(255, 255, 255);
    margin-top: 2%;
    margin-bottom: 2%;
}