* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;;
    background-color: rgb(189, 243, 250);
}

.buttons {
    margin: 125px 0px 250px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons p {
    font-size: 25px;
}

.computer-score-info,
.player-score-info {
    margin: 450px 30px 55px 30px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.computer-score,
.player-score {
    font-size: 30px;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: -4px -4px;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructions {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-bottom: 10px;
}

.paper img {
    height: 125px;
    width: auto;
    margin-bottom: 20px;
}

.result {
    margin: 0px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.rock,
.paper,
.scissors {
    margin: 0 40px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rock img,
.scissors img {
    height: 100px;
    width: auto;
    margin-bottom: 42px;
}

.score-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-info h2 {
    font-size: 25px;
    font-weight: 300;
}

.title {
    font-size: 60px;
    font-weight: 400;
    text-shadow: 4px 4px rgb(255, 255, 255);
    margin-top: 40px;
    margin-bottom: 30px;
}